{% extends 'base.html' %}
{% load static %}

{% block title %}
About
{% endblock title %}

{% block content %}
<div class="container" style="padding-top:2.5cm;">
  <div class="page-header">

      <h1><class="fa fa-info-circle"> About 
      </h1>
  </div>
  <div class="">
    <img class="img-rounded img-responsive" src="{% static 'img/education.jpg'%}"
	 width="420px" align="right" Hspace="10" Vspace="10">

    <p class="lead" align="justify"> Every Indian student desires a chance to receive the highest quality education. Scarcity of trained teachers hinders this aspiration. Difficulty in accessing the best educational contents, in an affordable manner,further accentuates the problem. Effective use of Information and Communication Technologies helps in significantly addressing these twin issues. Aakash Tablet, launched by Government of India, is emerging as a key ICT tool for this purpose. When used in conjunction with the high speed network of NKN, Aakash has a great potential to become a ubiquitous and effective ICT tool for students and teachers. </p>
    

    <h1><class="fa fa-info-circle"> Aakash School Education 
      </h1>

     <p class="lead" align="justify"> Aakash School Education is committed to offering the students free access to its many academic resources. We seek to capitalize on the potential of the internet to eliminate borders and geographic distance as obstacles to the instantaneous exchange of knowledge and new ideas. Unlike distance learning programs that charge tuition, provide formal instruction and limit participation, we offer all course materials free to everyone with online access. People from around the world may upload their content and students can make use of our extensive library of content, including interactive challenges, assessments, and videos from any computer with access to the web. ASE does not require any registration and is not a degree-granting or certificate-granting activity rather it is instead an effort to share knowledge and make sure the students have access to world class education content making full use of the Internet's potential.   </p>
    
  </div>
</div>
{% endblock content %}
