
<!DOCTYPE html>
<html>
<body>
<h1>Welcome to the Uploading page {{contri_username}}</h1>
{% for i in uploads %}
	
        <a href="/contributor/profile/{{contri_username}}/{{i}}">{{i}}</a>
	
<!--	<h2>{{i.topic}}</h2><a href="/media/{{i.pdf}}">FILE</a>
	<h3>{{i.summary}}</h3>
	
	{{i.id}}
		<a href="/media/{{i.video}}"> Video </a>
		<h3>{{i.summary}}</h3>
	
	{{i.rating}}<br>
	{{i.approve}}	<br><br><br> -->
	<hr>	
{% endfor %}

<p> For more uploads </p>
<a href= "/contributor/upload/">Upload more </a><br><br>


<a href="/logout">
<button id='Logout-button' type='submit' ><span>Log out</span></button></a><br><br>




<a href="/contributor/profile/edit/">
<button id='Edit-Profile-button' type='submit' ><span>Edit Profile</span></button></a>



<a href="/user/password/change">
<button id='Password-reset-button' type='submit' ><span>Change Password</span></button></a>

</body>
</html>
