} {% extends 'base.html' %}
<h1>Welcome to the Topic page {{contri_username}}</h1>
{% block content %}
<br/><br/><br/><br/><br/>

<div class="row">
  	<div class="col-md-12">
   		 
    			<div class="row">
      				<div class="col-md-8 col-md-offset-1"><br/>
				{{uploads.class}}
				<h3>Comment</h3><br/><br/>TOPIC<br>
				{% for i in uploads %}
			        {{i.comment}}
				{% endfor %}
            			</div>
      				<div class="col-md-3"><br/></br/>
				<strong>Welcome {{contri_username}}</strong><br/></br>
				{{contri.first_name}}
                   
				<a href= "/webapp/upload/">Upload more </a><br><br>
				<a href="/contributor/profile/edit/">
				<button id='Edit-Profile-button' type='submit' ><span>Edit Profile</span></button></a><br/><br/><br/>
				<a href="/user/password/change">
				<button id='Password-reset-button' type='submit' ><span>Change Password</span></button></a>
				<br><br>
				</div>
    			</div>
  	</div>
</div>
{% endblock content %}
