{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container footer_padding" align="center" style="padding-top:8%">
</div>
<div class="container footer_padding" align="center" style="padding-top 2.5cm">
<div class="col-md-12 well">
    <table class="table-responsive">
    <form method="get" action="/search/">
      <p><label for="id_q">Search:</label>
        <input type="text" name="q" id="id_q" autocomplete="off" class="gray" placeholder="Enter Subject or Topic">
        <button type="submit" class="add-on"><i class="fa fa-search"></i></button>
      </input>
    </div>
    </form>
    <h1>{{Subject.name}}</h1>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover" id="uploads">
        <tr class="success">
           <td><strong>Class</strong></td>
           <td><strong>subject</strong></td>
           <td><strong>Topic</strong></td>
           <td><strong>Summary</strong></td>
           <td><strong>PDF</strong></td>
           <td><strong>Video</strong></td>
           <td><strong>animation</strong></td>
                    
        </tr>
        <p>Total number is : {{count}}</p>
        {% for i in uploads %}
           <tr class="active">
           <td><strong>Class {{i.class_number}}</strong></a>
           </p>
          </td>
                 
           <td><strong>{{i.name}}</strong></a>
           </p>
           </td>
                    {% if user.is_authenticated %}
                    {% if user.contributor %}
                    <td><a href="/contributor/profile/{{i.class_number}}/{{i.name}}/{{i.topic}}/{{i.id}}"><strong>{{i.topic}}</strong></a>
                    </td>
                    {% elif user.reviewer %}
                    <td><a href="/reviewer/profile/{{i.class_number}}/{{i.name}}/{{i.topic}}/{{i.id}}"><strong>{{i.topic}}</strong></a>
                    </td>
                    {% endif %}
                    
                    {% else %}
                    <td><strong>{{i.topic}}</strong></a>
                    </td>
                    {% endif %}
                    
                    <td class="lead" text-align="justify">
                      {{i.summary|safe|linebreaks}}
                    </td>
                    
                    <td>
                    {% if i.pdf %}
                      <a href="/media/{{i.pdf}}"><i class="fa fa-file-pdf-o fa-2x"></i></a>
                        {% else %}
                    {% endif %} </td><td>
                    {% if i.video %}
                    <a href="/media/{{i.video}}"><i class="fa fa-file-video-o fa-2x"></i></a>
                    {% else %}
                    {% endif %} </td><td>
                    {% if i.animation %}
                    <a href="/media/animation/{{i.animation}}"><i class="fa fa-file-image-o fa-2x"></i></a>
                    {% else %}
                    {% endif %} 
                    </td>         
                  </tr>
                {% endfor %}
		</table>

	</div>


<script src="{% static 'js/paging.js' %}"></script>
<script type="text/javascript">
 var pager = new Pager('uploads', 3, 'unordered-code-list');
</script>
</div>

<input type="text" id="hidden" value="Page number">
<script type="text/javascript">
    var x = document.getElementById("hidden").value;
    var y=1;
    for(var i=1; i<={{count}}; i+=2 )
    {  var btn = document.createElement("BUTTON");
       var t = document.createTextNode(y);
       btn.appendChild(t);
       document.body.appendChild(btn);
       btn.value = y;
       btn.onclick = function(){window.location = "/"};
       y++;
    }
</script>
      

      
{% endblock content %}
