{% extends 'base.html' %}
{% block content %}
<div class="container" style="padding-top: 8%;padding-bottom: 8%;">
<div class="row">
  	<div class="col-md-12">
   		 
    			<div class="row">
      				<div class="col-md-8 col-md-offset-1"><br/><br/>
				<h4>to class {{class_num}}-{{subject_name}}--{{subject_topic}}</h4>
				{{subject.summary}}		
				</div>
      				<div class="col-md-3"><br/></br/>
				<strong>Welcome {{contributor.user.username}}</strong><br/></br>
				<a href= "/contributor/upload/">Upload more </a><br><br>
				<a href="/contributor/profile/edit/">
				<button id='Edit-Profile-button' type='submit' ><span>Edit Profile</span></button></a><br/><br/><br/>
				<a href="/user/password/change">
				<button id='Password-reset-button' type='submit' ><span>Change Password</span></button></a>

				</div>
    			</div>
  	</div>
</div>
</div>
</div>
{% endblock content %}
