{% extends 'base.html' %}
{% load static %}
<html>
<body>
{% block content %}
<div class="container footer_padding" align="center" style="padding-top:8%">
</div>
<div class="container footer_padding" align="center" style="padding-top 2.5cm">
<div class="col-md-12 well">
    <table class="table-responsive">
    <form method="get" action="/search/">
      <p><label for="id_q">Search:</label>
        <input type="text" name="q" id="id_q" placeholder="Search by Subject or Topic"></input>
        <input type="submit" value="Submit"/></p>
    </form>
    <h1>{{Subject.name}}</h1>
    </div>
</div>


<div class="table-responsive">
                <table class="table table-hover">
                 <tr class="success">
                        <td><strong>Class</strong></td>
                        <td><strong>subject</strong></td>
                        <td><strong>Topic</strong></td>
                        <td><strong>Summary</strong></td>
                        <td><strong>PDF</strong></td>
                    <td><strong>Video</strong></td>
                    <td><strong>animation</strong></td>
                    
                 </tr>
                {% for i in uploads %}
                 <tr class="active">
                 <td><strong>Class {{i.class_number}}</strong></a>
                      </p>
                    </td>
                 
                 <td><strong>{{i.name}}</strong></a>
                      </p>
                    </td>
                    {% if user.is_authenticated %}
                    {% if user.contributor %}
                    <td><a href="/contributor/profile/{{i.class_number}}/{{i.name}}/{{i.topic}}/{{i.id}}"><strong>{{i.topic}}</strong></a>
                    </td>
                    {% elif user.reviewer %}
                    <td><a href="/reviewer/profile/{{i.class_number}}/{{i.name}}/{{i.topic}}/{{i.id}}"><strong>{{i.topic}}</strong></a>
                    </td>
                    {% endif %}
                    
                    {% else %}
                    <td><strong>{{i.topic}}</strong></a>
                    </td>
                    {% endif %}
                    
                    <td class="lead" text-align="justify">
                      {{i.summary|safe|linebreaks}}
                    </td>
                    
                    <td>
                    {% if i.pdf %}
                      <a href="/media/{{i.pdf}}"><img src="{% static 'doc.jpg' %}" height="50" width="50"
                    class="img-rounded img-responsive"></a>
                        {% else %}
                    {% endif %} </td><td>
                    {% if i.video %}
                    <a href="/media/{{i.video}}"><img src="{% static 'video.jpg' %}" height="50" width="50"
                    class="img-rounded img-responsive"></a>
                    {% else %}
                    {% endif %} </td><td>
                    {% if i.animation %}
                    <a href="/media/animation/{{i.animation}}">ani</a>
                    {% else %}
                    {% endif %} 
                    </td>         
                  </tr>
                {% endfor %}</table></div>
                    </div>

{% endblock content %}
</body>
</html>