{% extends 'base.html' %}
{% block content %}
<div class="container" style="padding-top:10% ; padding-bottom:10%">
<div class="col-md-12" style= " background-color:#d5dce1; margin-top:8%">
<center><h3>PLEASE SELECT YOUR LANGUAGE</h3></center>
			
<div style="width:230px; margin:0 auto;">
		                <div ul class="dropdown" align="center"> 
		       <a href="#" class="dropdown-toggle" 
		          data-toggle="dropdown" align="center">Language<b class="caret"></b></a>
		       <ul class="dropdown-menu">
			 {% for i in languages %}
			 <li><a href="/content/{{i}}/">{{i}}</a></li>
			 {% endfor %}
		       </ul>
		     </ul>
</div>
</div>
<br>
<br><br>
</div>
	</table>
            			</div>


{% endblock content %}
