{% extends 'base.html' %}
{% block content %}
{% load static %} 
<div class="container" style= "padding-top: 5%; padding-bottom:5%">
    <div class="row">
  	<div class="col-md-12">
   		 <div class="row">
      				<div class="col-md-8" style= " background-color:#d5dce1; margin-top:8%">
				{% if uploads %}                                
				<h4>Subjects corresponding to class {{class_num}}</h4>
		
				{% for i in uploads %}
				<table class="table table-hover" id="uploads">
    				
			        <td><h5><a href="/reviewer/profile/{{class_num}}/{{i}}">{{i}}</a></h5></td> 
								
				</table>
				{% endfor %}

				</table>
            			</div><div class="col-md-1"></div>
      				<div class="col-md-3" style= " background-color:#cad3d9; margin-top:8%"><br/>
				<strong>Welcome {{reviewer.user.username}}</strong><br><br>
                                {% if reviewer.picture %}
                                <img src="/media/{{reviewer.picture}}" width=100px height=100px align="center">
				{% else %}
				<img src = "{% static 'img/default.png' %}" width=100px height=100px align="center">
				{% endif %}

				<br><br>
				<a href= "/reviewer/past/approvals/">Past Approvals </a><br><br>
				<a href="/reviewer/profile/edit/">
    				<button id='Edit-Profile-button' class="btn btn-primary" type='submit' ><span>Edit Profile</span></button></a><br/><br/>
  				<a href="/user/password/change">
   			        <button id='Password-reset-button'  type='submit' class="btn btn-primary"><span>Change Password</span></button></a><br><br>
  
                          	</div>
				
           </div>
    	</div>
   </div>
</div>
                            </div>
				<ul class="pagination" id="unordered-code-list"></ul> 
				{% else %}
  				<p>Nothing to display.</p>
  				{% endif %}
    
    			</div>
  </div>
   </div>

                                <script src="{% static 'js/paging.js' %}"></script>
				<script type="text/javascript">
				var pager = new Pager('uploads', 5, 'unordered-code-list');
</script>
{% endblock content %}
                 



