<!DOCTYPE html>
<html>
<body>
<h1><u>Welcome to the Topic page {{ rev_username }}</u></h1>


{% for i in uploads %}
		<h1>{{i.name}}</h1>
		<h2>{{i.topic}}</h2><a href="/media/{{i.pdf}}">FILE</a>
		<p>{{i.summary}}</p>

		<form id = "{{i.id}}" method="post"
                enctype="multipart/form-data">

    	            {% csrf_token %}
		
		
       		    <input type="submit" name="submit" value="Approve" /></a>
		    <input type="hidden" name="id" value="{{ i.id }}">

		</form> 
        <a href="/reviewer/profile/{{class_num}}/{{sub}}/{{i.topic}}/{{i.id}}">View comments </a>
{% endfor %}


<a href="/logout">
<button id='Logout-button' type='submit' ><span>Log out</span></button></a><br><br>



<a href="/reviewer/profile/edit/">
<button id='Edit-Profile-button' type='submit' ><span>Edit Profile</span></button></a>


<a href="/user/password/change">
<button id='Password-reset-button' type='submit' ><span>Change Password</span></button></a>

</body>
</html>
