{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style= "padding-top: 5%; padding-bottom:5%">
<div class="row">
  	<div class="col-md-12">
   		 <div class="row">
      				<div class="col-md-8" style= " background-color:#d5dce1; margin-top:8%">
				<h3>Review in class {{class_num}}</h3>
				<div class="table-responsive">
				<table class="table table-hover">
				 <tr class="success">
    				    <td><strong>subject</strong></td>
    				    <td><strong>Topic</strong></td>
			            <td><strong>Summary</strong></td>
			            <td><strong>PDF</strong></td>
				    <td><strong>Video</strong></td>
				    <td><strong>animation</strong></td>
				    <td><strong>Approve</strong></td>
  				 </tr>
  				{% for i in subject %}
				{% if reviewer in i.reviewer.all %}
				 <tr class="active">
   				 <td><strong>{{i.name}}</strong></a>
				      </p>
				    </td>
				    
				    <td><a href="/reviewer/profile/{{class_num}}/{{sub}}/{{i.topic}}/{{i.id}}/"><strong>{{ i.topic }}</strong></a>
				    </td>
				    
				    <td>{{i.summary|truncatewords:10}}<a href="/reviewer/profile/{{class_num}}/{{sub}}/{{i.topic}}/{{i.id}}/detail/">read more ...</a>
				    </td>
				    
				    <td>
				    {% if i.pdf %}
				    
				      <a href="/media/{{i.pdf}}"><i class="fa fa-file-pdf-o fa-2x"></i></a>
			            {% else %}
				    {% endif %}	</td><td>
				    {% if i.video %}
					<a href="/media/{{i.video}}"><i class="fa fa-file-video-o fa-2x"></i></a>
					{% else %}
				    {% endif %}	</td><td>
				    {% if i.animation %}
					<a href="/media/animation/{{i.animation}}"><i class="fa fa-file-image-o fa-2x"></i></a>
				    {% else %}
				    {% endif %}	
				    </td>         
				  
				<td>
				<p>Approved</p>
				</td>
				</tr>
				{% endif %}
				{% endfor %}</table></div>
			        </div>
    				
<div class="col-md-1"></div>
      				<div class="col-md-3" style= " background-color:#cad3d9; margin-top:8%"><br/>
				<strong>Welcome {{reviewer.user.username}}</strong><br><br>
                                {% if reviewer.picture %}
                                <img src="/media/{{reviewer.picture}}" width=100px height=100px align="center">
				{% else %}
				<img src = "{% static 'img/default.png' %}" width=100px height=100px align="center">
				{% endif %}
				<br><br>
				<a href="/reviewer/profile/edit/">
    				<button id='Edit-Profile-button' class="btn btn-primary" type='submit' ><span>Edit Profile</span></button></a><br/><br/>
  				<a href="/user/password/change">
   			        <button id='Password-reset-button'  type='submit' class="btn btn-primary"><span>Change Password</span></button></a><br><br>
  
                          	</div>
				
				
                            </div>
    			</div>
  </div>
   </div>
{% endblock content %}
