<!DOCTYPE html>
<html>
<body>
<h1><u>Welcome to the Review page</u></h1>


{% for i in comment %}
	{{i.comment}} 
		
{% endfor %}
<form id="comment_form" method="post"
                enctype="multipart/form-data">

            {% csrf_token %}

       
            {{ comment_form.as_p }}

            <input type="submit" name="submit" value="Upload" />

</form>


<a href="/logout">
<button id='Logout-button' type='submit' ><span>Log out</span></button></a><br><br>

<a href="/reviewer/profile/" class="btn btn-primary">Click here to go back to profile</a>

</body>
</html>
