{% extends 'base.html' %}
{% block content %}
<br/><br/><br/><br/><br/><br/><br/>

<div class="row">
  	<div class="col-md-12">
   		 
    			<div class="row">
      				<div class="col-md-8 col-md-offset-1"><br/>
				<h3>Reviews in class</h3><br/>
				{% for i in uploads %}
			        <a href="/reviewer/profile/{{i}}/">Class {{i}}</a>
				<hr>	
				{% endfor %}
            			</div>
      				<div class="col-md-2"><br/>
				
				
				<strong>Welcome {{reviewer.user.username}}</strong><br>
				<strong>Name:</strong> {{reviewer.user.first_name}}
				{{reviewer.user.last_name}}<br>
				<strong>Contact:</strong> {{reviewer.contact}}<br>
				<strong>Email:</strong> {{reviewer.user.email}}<br><br>
				
				<a href="/reviewer/profile/edit/">
				<button id='Edit-Profile-button' type='submit' ><span>Edit Profile</span></button></a><br/>
				<a href="/user/password/change/">
				<button id='Password-reset-button' type='submit' ><span>Change Password</span></button></a>
		  		
				</div>
			        <div class="col-md-1"><br>
                                <img src="/media/{{reviewer.picture}}" width=100px height=100px align=right>
				<br><br>
                          	</div>
				
				
                            </div>
    			</div>
  </div>
{% endblock content %}
