{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="{% static 'img/books1.jpg' %}">
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide" src="{% static 'img/intro-bg.jpg' %}">
          <div class="container">
            <div class="carousel-caption">
              
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide" src="{% static 'img/st.jpg' %}">
          <div class="container">
            <div class="carousel-caption">
              </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="http://getbootstrap.com/examples/carousel/#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="http://getbootstrap.com/examples/carousel/#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
<div class="container-fluid"  style=" padding-left:10px>
<div class="row">
<div class="col-md-12" style=" padding-left:10px ; font-family:Comic Sans MS"><p class="text-info"><em>This website is intended to provide free study material to school students .People from around the world may upload their content after signing up.ASE does not require any registration and is not a degree-granting or certificate-granting activity rather it is instead an effort to share knowledge and make sure the students have access to world class education content making full use of the Internet's potential.</em></p></div></div>
<div class="row">
  
  <div class="col-md-8" style="padding-top:10px ; padding-left:50px"><h3>Latest Uploads</h3><br>
	<marquee scrollamount="4" direction="up" loop="true" width="400px">
	{% for i in latest_uploads %}
        <table class="table table-striped">
	<tr>
		<td>{{i}}</td>{% if i.pdf %}
	
				
				<td>	<a href="/media/{{i.pdf}}"><i class="fa fa-file-pdf-o fa-2x"></i></a></td>
			            {% else %}
				    {% endif %}	
				    {% if i.video %}
                                    
				<td>	<a href="/media/{{i.video}}"><i class="fa fa-file-video-o fa-2x"></i></a></td>
					{% else %}
				    {% endif %}	
				    {% if i.animation %}
				    
				<td>	<a href="/media/animation/{{i.animation}}"><i class="fa fa-file-image-o fa-2x"></i></a><td>
				    {% else %}
	</tr>   	</table>	    {% endif %}	<br>
	{% endfor %}</marquee></div>
  <div class="col-md-4"style="padding-top:30px ; padding-left:50px">Contact us
<br> For any doubts or query regarding our website <br><a href="/contact">Contactus</a>
</div>
</div>
</div>
{% endblock content %}
